/* styling for media */

@media only screen and (max-width: 767px) { // smaller than tablet....mobile styling
  #menu-footer { // ul
    li.menu-item {
      display: block;
      padding-bottom: 6px;
      a {
        color: rgba(255,255,255,0.8);
      }
    }
  }
  .hide-mobile {
    display: none!important;
  }
}
@media only screen and (max-width: 849px) {  /// mobile menu appears.
  #masthead {
    height: initial;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mobile-sidebar {
    .sidebar-menu {
      padding-top: 0px;
      .cart-replace {
        .social-icons.follow-icons {
          width: initial;
        }
        a.social-houzz {
          padding-left: 0px;
        }
      }
    }
  }
}
