/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;

// Background colors:

$bkgoundContent: #FFFFFF; //
$menuBarbkg: #D14719; //
$mestoves-green: #006A38;

/* ----------- General site wide classes --------------- */

.col.mestoves-fullwidth-col {
  padding-left: 0px;
  padding-right: 0px
}

.col.mestoves-bottom0 {
  padding-bottom: 0px;
}

.mestoves-title-white {
  b {
    background-color: white;
    opacity: 1.0;
  }
  .section-title-main {
    color: black;
    background-color: white;
  }
}
.row.mestoves-greenbkg {
  background-color:$mestoves-green;
}

.row.mestoves-blackbkg {
  background-color: black;
}

.nav-small.nav>li.html {
  font-size: .8em;
}
// page titles
h1.entry-title {
  letter-spacing: initial;
}
